<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="connection_string" value="Initial Catalog=LanMonitoring_Bha_DB;Data Source=103.21.58.192;user id=Bha_User;password=Password@123"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="Initial Catalog=LanMonitoring_Bha_DB;Data Source=103.21.58.192;user id=Bha_User;password=Password@123" name="Location_trackingConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.web>
      <customErrors mode="Off"/>
        <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
